extends layout

block content
  nav(class="nav")
    div
      ul
        li
          img(src="/static_images/logo_img.png" class="logo_img")
        li(class="home_nav")
          img(src="/static_images/home_img.png" class="home_img")
  main
    section(class="index_section")
      div(class="story")
        div(class="story_sub")
          img(src="/static_images/story_img.png")
      div(class="post_div")
        -for(let i=0; i<posts.length; i++)
          article(class="border")
            header(class="ph")
              div(class="phd")  
                div(class="phdd")
                  img(src="/static_images/profile_img.png" class="profile_img")
                div(class="phdd")
                  div 
                    span #경북대
                  div
                    a(href=posts[i].link)=posts[i].account_name
                  div
                    span Daegu
            div
              -if(posts[i].filename_image !== "")
                div
                  img(src=`/post_images/${posts[i].filename_image}` width="600px")
              div(class="letter_div")
                p=posts[i].contents



//-
      -if(_create===true)
        h3(style="display:inline; margin-right:5px") 
          a(href=`/posts/create`) create
      -if(_update===true)
        h3(style="display:inline; margin-right:5px")
          a(href=`/posts/update/${post_id}`) update
      -if(_delete===true)
        h3(style="display:inline; margin-right:5px")
          a(href=`/posts/delete/${post_id}`) delete
    p Welcome to #{title}
